body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: cyan;
}

a {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.cabecera {
    background-color: thistle;
    border: 2px solid white;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    width: 70%;
}
.contenido {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    color: springgreen;
    width: 70%;
}